<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Sender</title>
        <script src="../static/js/utils/log.js" charset="utf-8" type="module"></script>
        <script src="../static/js/server_client.js" charset="utf-8" type="module"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    </head>
    <body>

        <script type='module'>
          import {ServerClient} from '../static/js/server_client.js';
          import {WebRTCPeerConnection} from '../static/js/webrtc_peer_connection.js';
          var socket = io.connect();
          socket.on('connect', function() {
              var srv = new ServerClient(socket)
              srv.createPeerConnection('{{other}}')
                .then((srvpc) => {
                    console.log(srvpc);
                    var pc = new WebRTCPeerConnection(srvpc);
                    pc.onConnected = function() {
                        console.log(pc);
                    }
                    pc.initialize();
                })
          })
        </script>

    </body>
</html>
